Estatísticas básicas por UF sobre casamentos LGBTs

In [23]:
import pandas as pd
from datetime import datetime
import seaborn as sns
import numpy as ny

In [24]:
dataset = pd.read_csv('lgbt_casamento.csv')

In [25]:
print (dataset)

       ano                uf     genero        mes  numero
0     2014          Rondônia  Masculino    Janeiro       0
1     2014          Rondônia  Masculino  Fevereiro       0
2     2014          Rondônia  Masculino      Março       0
3     2014          Rondônia  Masculino      Abril       0
4     2014          Rondônia  Masculino       Maio       0
...    ...               ...        ...        ...     ...
4531  2019  Distrito Federal   Feminino     Agosto       7
4532  2019  Distrito Federal   Feminino   Setembro       9
4533  2019  Distrito Federal   Feminino    Outubro      13
4534  2019  Distrito Federal   Feminino   Novembro      11
4535  2019  Distrito Federal   Feminino   Dezembro       7

[4536 rows x 5 columns]

In [26]:
std=ny.std(dataset)
print(std)

ano        2.000000
numero    25.959309
dtype: float64

In [19]:
media = ny.mean(dataset)

In [20]:
print(media)

ano       2016.000000
numero       9.693783
dtype: float64

In [27]:
min,max=dataset.min(),dataset.max()
print("mínimo")
print(min)
print("máximo")
print(max)

mínimo
ano           2013
uf            Acre
genero    Feminino
mes          Abril
numero           0
dtype: object
máximo
ano            2019
uf        Tocantins
genero    Masculino
mes        Setembro
numero          827
dtype: object