In [ ]:
import pandas as pd

## CASAMENTO LGBT

In [61]:
lgbt = pd.read_csv('same-sex-marriage-recognition.csv')

In [62]:
lgbt.head(4)

           Entity Code  Year  Same sex marriage and civil unions legal
0     Afghanistan  AFG  2019  Same-sex marriage not legally recognized
1         Albania  ALB  2019  Same-sex marriage not legally recognized
2         Algeria  DZA  2019  Same-sex marriage not legally recognized
3  American Samoa  ASM  2019  Same-sex marriage not legally recognized

In [63]:
lgbt.columns = ['pais', 'codigo_pais', 'ano', 'tipo_casamento']

In [64]:
lgbt.columns

Index(['pais', 'codigo_pais', 'ano', 'tipo_casamento'], dtype='object')

In [65]:
lgbt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pais            224 non-null    object
 1   codigo_pais     221 non-null    object
 2   ano             224 non-null    int64
 3   tipo_casamento  224 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.1+ KB

## POPULACAO
fonte dos dados: https://data.worldbank.org/indicator/SP.POP.TOTL

In [66]:
pop = pd.read_csv('API_SP.POP.TOTL_DS2_en_csv_v2_2918012.csv', skiprows = 3)

In [67]:
pop.head(4)

                  Country Name Country Code  ...         2020 Unnamed: 65
0                        Aruba          ABW  ...     106766.0         NaN
1  Africa Eastern and Southern          AFE  ...  677243299.0         NaN
2                  Afghanistan          AFG  ...   38928341.0         NaN
3   Africa Western and Central          AFW  ...  458803476.0         NaN

[4 rows x 66 columns]

In [68]:
pop['Indicator Name'].unique()

array(['Population, total'], dtype=object)

In [69]:
pop = pop.rename(columns={"Country Name": "pais", "Country Code": "codigo_pais"})

In [70]:
pop.columns

Index(['pais', 'codigo_pais', 'Indicator Name', 'Indicator Code', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [71]:
pop = pop[['pais', 'codigo_pais', '2019']]

In [72]:
pop.head(4)

                          pais codigo_pais         2019
0                        Aruba         ABW     106310.0
1  Africa Eastern and Southern         AFE  660046272.0
2                  Afghanistan         AFG   38041757.0
3   Africa Western and Central         AFW  446911598.0

In [73]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pais         266 non-null    object
 1   codigo_pais  266 non-null    object
 2   2019         264 non-null    float64
dtypes: float64(1), object(2)
memory usage: 6.4+ KB

## MERGE

In [75]:
lgbt['codigo_pais'] = lgbt['codigo_pais'].astype(str)
pop['codigo_pais'] = pop['codigo_pais'].astype(str)

In [76]:
lgbt_pop = pd.merge(lgbt, pop, how = 'left', on = 'codigo_pais')

In [77]:
lgbt_pop.head(4)

           pais_x codigo_pais  ...          pais_y        2019
0     Afghanistan         AFG  ...     Afghanistan  38041757.0
1         Albania         ALB  ...         Albania   2854191.0
2         Algeria         DZA  ...         Algeria  43053054.0
3  American Samoa         ASM  ...  American Samoa     55312.0

[4 rows x 6 columns]

In [78]:
lgbt_pop.tail(4)

             pais_x codigo_pais  ...       pais_y        2019
220  Western Sahara         ESH  ...          NaN         NaN
221           Yemen         YEM  ...  Yemen, Rep.  29161922.0
222          Zambia         ZMB  ...       Zambia  17861034.0
223        Zimbabwe         ZWE  ...     Zimbabwe  14645473.0

[4 rows x 6 columns]

In [86]:
erro = lgbt_pop.query('2019.isna()', engine='python')

SyntaxError: ignored