Notebook - análise exploratória de dados

Gabriela Caesar

29/set/2021

Pergunta a ser respondida

- Defina a sua UF e o ano no input e veja as estatísticas básicas da sua UF/ano quanto ao casamento LGBT

In [1]:
# importacao da biblioteca
import pandas as pd

In [2]:
# leitura do dataframe
lgbt_casamento = pd.read_csv('https://raw.githubusercontent.com/gabrielacaesar/lgbt_casamento/main/data/lgbt_casamento.csv')

In [3]:
lgbt_casamento.head(2)

    ano        uf     genero        mes  numero
0  2014  Rondônia  Masculino    Janeiro       0
1  2014  Rondônia  Masculino  Fevereiro       0

In [4]:
sigla_uf = pd.read_csv('https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/main/csv/estados.csv')

In [5]:
sigla_uf.head(2)

   codigo_uf  uf      nome  latitude  longitude
0         11  RO  Rondônia    -10.83     -63.34
1         12  AC      Acre     -8.77     -70.55

In [6]:
sigla_uf_lgbt_casamento = lgbt_casamento.merge(sigla_uf, how = 'left', left_on = 'uf', right_on = 'nome')
len(sigla_uf_lgbt_casamento['uf_y'].unique())
sigla_uf_lgbt_casamento.head(2)

    ano      uf_x     genero        mes  ...  uf_y      nome latitude longitude
0  2014  Rondônia  Masculino    Janeiro  ...    RO  Rondônia   -10.83    -63.34
1  2014  Rondônia  Masculino  Fevereiro  ...    RO  Rondônia   -10.83    -63.34

[2 rows x 10 columns]

In [7]:
sigla_uf_lgbt_casamento = sigla_uf_lgbt_casamento.drop(['uf_x', 'codigo_uf', 'latitude', 'longitude'], axis=1)
sigla_uf_lgbt_casamento = sigla_uf_lgbt_casamento.rename(columns={'uf_y':'uf', 'nome': 'nome_uf'})
sigla_uf_lgbt_casamento.columns
sigla_uf_lgbt_casamento.head(2)

    ano     genero        mes  numero  uf   nome_uf
0  2014  Masculino    Janeiro       0  RO  Rondônia
1  2014  Masculino  Fevereiro       0  RO  Rondônia

## com user input

In [8]:
mes_numero = {'id_mes':[1,2,3,4,5,6,7,8,9,10,11,12], 'nome_mes':['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']}
df_mes_numero = pd.DataFrame(mes_numero)
df_mes_numero

    id_mes   nome_mes
0        1    Janeiro
1        2  Fevereiro
2        3      Março
3        4      Abril
4        5       Maio
5        6      Junho
6        7      Julho
7        8     Agosto
8        9   Setembro
9       10    Outubro
10      11   Novembro
11      12   Dezembro

In [12]:
final_lgbt_casamento = sigla_uf_lgbt_casamento.merge(df_mes_numero, how = 'left', left_on = 'mes', right_on = 'nome_mes')
final_lgbt_casamento.head(2)

    ano     genero        mes  numero  uf   nome_uf  id_mes   nome_mes
0  2014  Masculino    Janeiro       0  RO  Rondônia       1    Janeiro
1  2014  Masculino  Fevereiro       0  RO  Rondônia       2  Fevereiro

In [28]:
print(" --------------------------- \n         Bem-vindo/a! \n ---------------------------")
ano_user = int(input("Escolha um ano de 2013 a 2019: \n"))
uf_user = input("Escolha uma UF. Por exemplo, AC, AL, SP, RJ... \n")
uf_user = uf_user.upper().strip()
#print(uf_user)
print(" --------------------------- \n      Já vamos calcular! \n ---------------------------")

 ---------------------------
         Bem-vindo/a!
 ---------------------------
Escolha um ano de 2013 a 2019:
2019
Escolha uma UF. Por exemplo, AC, AL, SP, RJ...
SP
 ---------------------------
      Já vamos calcular!
 ---------------------------

# Veja os números, por mês, no ano e na UF de escolha
Gráfico mostra o número de casamentos LGBTs, por gênero, no ano e na unidade federativa informada antes pelo usuário.

Passe o mouse em cima do gráfico para mais detalhes.

In [106]:
# filtro pela UF e pelo ano informados pelo usuário
# mais gráfico
import altair as alt
alt.Chart(sigla_uf_lgbt_casamento.query('uf == @uf_user & ano == @ano_user', engine='python')).mark_line(point=True).encode(
    x = alt.X('mes', title = 'Mês', sort=['Janeiro', 'Fevereiro', 'Março']),
    y = alt.Y('numero', title='Número'),
    color = 'genero',
    tooltip = ['mes', 'ano', 'genero', 'numero']
).properties(
    title = f'{uf_user}: Casamento LGBTs em {ano_user}'
).interactive()

alt.Chart(...)

# Veja as estatísticas básicas, por ano, na sua UF de escolha
Gráfico mostra todos os anos da base de dados. A unidade federativa foi informada antes pelo usuário.

Passe o mouse em cima do gráfico para mais detalhes.

In [133]:
dados_user = sigla_uf_lgbt_casamento.query('uf == @uf_user', engine='python')
dados_user_agg = dados_user.groupby(['genero','ano'])['numero'].agg({sum})

alt.Chart(dados_user).mark_boxplot(size=10).encode(
    x = alt.X('ano:O', title="Ano"),
    y = alt.Y('numero', title="Número"),
    color = 'genero',
    tooltip = ['mes', 'ano', 'genero', 'numero']
).properties(
    title={
      "text": [f'{uf_user}: Casamento LGBTs'], 
      "subtitle": [f'Mulheres vs. Homens']
    },
    width=600,
    height=300
).interactive()

alt.Chart(...)