In [2]:
import pandas as pd

In [3]:
lgbt_casamento = pd.read_csv('https://raw.githubusercontent.com/gabrielacaesar/lgbt_casamento/main/data/lgbt_casamento.csv')

# Criação de dataframe das regiões

In [4]:
uf_norte = {'regiao': ['Norte']*7, 'uf': ["Rondônia","Acre","Amazonas","Roraima", "Pará","Amapá","Tocantins"]}
uf_nordeste = {'regiao': ['Nordeste']*9, 'uf': ["Maranhão","Piauí","Ceará","Rio Grande do Norte","Paraíba","Pernambuco", "Alagoas","Sergipe","Bahia"]}
uf_sudeste = {'regiao': ['Sudeste']*4, 'uf': ["Minas Gerais","Espírito Santo","Rio de Janeiro","São Paulo"]}
uf_sul = {'regiao': ['Sul']*3, 'uf': ["Paraná","Santa Catarina","Rio Grande do Sul"]}
uf_centro_oeste = {'regiao': ['Centro-Oeste']*4, 'uf': ["Mato Grosso do Sul","Mato Grosso","Goiás", "Distrito Federal"]}

regiao_norte = pd.DataFrame(uf_norte)
regiao_nordeste = pd.DataFrame(uf_nordeste)
regiao_sudeste = pd.DataFrame(uf_sudeste)
regiao_sul = pd.DataFrame(uf_sul)
regiao_centro_oeste = pd.DataFrame(uf_centro_oeste)

regioes_uf = pd.concat([regiao_norte, regiao_nordeste, regiao_sudeste, regiao_sul, regiao_centro_oeste])

# Merge

In [5]:
lgbt_casamento_regioes = lgbt_casamento.merge(regioes_uf,on='uf')

In [ ]:
lgbt_casamento_regioes.head()

    ano        uf     genero        mes  numero regiao
0  2014  Rondônia  Masculino    Janeiro       0  Norte
1  2014  Rondônia  Masculino  Fevereiro       0  Norte
2  2014  Rondônia  Masculino      Março       0  Norte
3  2014  Rondônia  Masculino      Abril       0  Norte
4  2014  Rondônia  Masculino       Maio       0  Norte

# Qual região teve o maior número de casamentos?

In [ ]:
lgbt_casamento_regioes.groupby('regiao')['numero'].sum().sort_values(ascending=False)

regiao
Sudeste         26288
Nordeste         6579
Sul              6388
Centro-Oeste     3194
Norte            1522
Name: numero, dtype: int64

# Qual a distribuição por gênero em cada região?

In [ ]:
lgbt_casamento_regioes.groupby(['regiao','genero'])['numero'].sum()

regiao        genero
Centro-Oeste  Feminino      1759
              Masculino     1435
Nordeste      Feminino      3794
              Masculino     2785
Norte         Feminino       869
              Masculino      653
Sudeste       Feminino     14994
              Masculino    11294
Sul           Feminino      3175
              Masculino     3213
Name: numero, dtype: int64

# Em que mês a região sudeste tem mais casamentos no total?

In [9]:
casamentos_sudeste = lgbt_casamento_regioes.query("regiao == 'Sudeste'  ")

In [12]:
casamentos_sudeste.groupby(['regiao','mes'])['numero'].sum().sort_values(ascending=False)

regiao   mes
Sudeste  Dezembro     3873
         Novembro     2642
         Outubro      2430
         Setembro     2386
         Janeiro      2068
         Julho        1974
         Maio         1894
         Agosto       1865
         Março        1858
         Junho        1852
         Fevereiro    1735
         Abril        1711
Name: numero, dtype: int64