# Casamento LGBT no Brasil

*Este notebook contém o projeto final aplicado da disciplina "Análise exploratória de dados", no Master em Jornalismo Dados, Automação e Data Storytelling do Insper, lecionada pelo Prof. André Filipe de Moraes Batista, PhD.*

**Integrantes do grupo:** Gabriela Caesar, Isabela Fleischmann e Thiago Araújo (Grupo GIT).

**Transparência:** o trabalho também está disponível no [GitHub](https://github.com/gabrielacaesar/lgbt_casamento).

**Base de dados escolhida:** casamentos de pessoas do mesmo gênero de 2013 até 2019 (dado mais recente). 

**Base de dados complementar:** números de habitantes desagregados por gênero, UF e faixa etária. 

**Fonte das bases de dados:** Instituto Brasileiro de Geografia e Estatística (IBGE). Os arquivos brutos [estão salvos aqui](https://github.com/gabrielacaesar/lgbt_casamento/tree/main/data/raw_data).

**Metodologia:** os dados do IBGE estão disponíveis em um formato que dificulta o reaproveitamento para a análise. Por isso, transformamos os dados em formato "tidy" antes de iniciar as análises. Os arquivos tratados [estão salvos aqui](https://github.com/gabrielacaesar/lgbt_casamento/tree/main/data).

## Contexto do assunto
O Brasil tem [mais de 60 mil casais formados por pessoas do mesmo gênero](http://g1.globo.com/brasil/noticia/2011/04/censo-2010-contabiliza-mais-de-60-mil-casais-homossexuais.html), segundo o Censo 2010 - o último realizado no Brasil e divulgado em 2011. Esse número é bastante menor que o de casais formados por pessoas de gêneros diferentes: 37,5 milhões. 

Mais de dez anos se passaram. E como está essa situação hoje no Brasil? É inegável que, ao caminhar na Avenida Paulista, em São Paulo, em 2021, vemos mais casais LGBTs do que há 10 anos. O sentimento é que mais pessoas puderam viver histórias homoafetivas nas grandes cidades. Mas será que isso vale para todo o Brasil? E será que a eleição de Jair Bolsonaro impactou esses números?

Além disso, apenas em 2011, o STF julgou legal a união civil de pessoas do mesmo gênero. Em 2013, o Conselho Nacional de Justiça passou a permitir que todos os cartórios registrassem a união homoafetiva.

A orientação sexual é uma informação pessoal e, por isso, há poucos dados sobre isso, já que poucos órgãos coletam essa informação. Antes da definição da base, o grupo mapeou diversos dados sobre LGBT para verificar como o tema poderia ser abordado.

A base de dados do IBGE, porém, é uma exceção positiva nesse levantamento. Além de ter dados oficiais do Brasil, ela também tem um detalhamento que permite uma ampla análise exploratória para responder a perguntas.

## Perguntas a que queremos responder
1.   Quantos casamentos homoafetivos ocorreram no Brasil de 2013 a 2019?
2.   Qual foi o ano com mais casamentos? Qual foi o ano com menos casamento? 
3.   Quem casa mais no meio LGBT? Homens ou mulheres? 
4.   Em qual mês as pessoas mais se casam? 
5.   Estatísticas básicas, por UF ou por BR, sobre os casamentos LGBTs
6.   Em quais regiões do Brasil os casamentos LGBTs mais ocorrem?
7.   Considerando a população adulta, quais estados têm as maiores e menores proporções de casamentos LGBTs? 
8.   Em um mapa do Brasil, como ficam as taxas de casamentos LGBTS por 100 mil habitantes adultos?
9.   Em quais estados aconteceram mais casamentos LGBTs em números absolutos? E menos?
10.  Considerando a UF e o ano informados pelo usuário, quais são as estatísticas básicas dessa UF e desse ano quanto ao casamento LGBT?

## O que aprendemos com os dados

1.   As mulheres definitivamente se casam mais do que os homens
2.   SP e DF foram as unidades federativas com as maiores taxas de casamentos LGBTs por habitantes adultos
3.   O Sudeste, região mais populosa do Brasil, também foi a região com mais casamentos
4.   O ano com mais casamentos LGBTs foi 2018, seguido por 2019
5.   O mês com mais casamentos foi dezembro
6.   Os meses próximos à eleição de Jair Bolsonaro foram os picos de casamentos LGBTS
7.   Os dados apontam que os casais homoafetivos seguiram [a recomendação da presidente da Comissão Especial da Diversidade Sexual e de Gênero do Conselho Federal da OAB, Maria Berenice Dias](https://g1.globo.com/sp/sao-paulo/noticia/2018/11/07/casamento-lgbt-cresce-25-no-pais-diz-associacao-profissionais-oferecem-servicos-gratuitos-para-celebracoes.ghtml), para os casais procurarem assegurar o matrimônio ainda em 2018.

## 1. Verificação do dataframe
Esta etapa do trabalho se propõe a importar o CSV principal e todas as bibliotecas usadas no Notebook, além de verificar do que esse dataframe é formado antes de responder às perguntas de interesse.

In [1]:
# importação das bibliotecas
#%%capture -- remove # if you run on colab
#!pip install geopandas -- remove # if you run on colab
import geopandas as gpd
import pandas as pd
import altair as alt

ModuleNotFoundError: No module named 'altair'

In [13]:
# leitura do dataframe
lgbt_casamento = pd.read_csv('https://raw.githubusercontent.com/gabrielacaesar/lgbt_casamento/main/data/lgbt_casamento.csv')

In [14]:
# primeiras linhas do nosso dataframe
lgbt_casamento.head()

    ano        uf     genero        mes  numero
0  2014  Rondônia  Masculino    Janeiro       0
1  2014  Rondônia  Masculino  Fevereiro       0
2  2014  Rondônia  Masculino      Março       0
3  2014  Rondônia  Masculino      Abril       0
4  2014  Rondônia  Masculino       Maio       0

In [15]:
# últimas linhas do nosso dataframe
lgbt_casamento.tail()

       ano                uf    genero       mes  numero
4531  2019  Distrito Federal  Feminino    Agosto       7
4532  2019  Distrito Federal  Feminino  Setembro       9
4533  2019  Distrito Federal  Feminino   Outubro      13
4534  2019  Distrito Federal  Feminino  Novembro      11
4535  2019  Distrito Federal  Feminino  Dezembro       7

In [16]:
# informações do dataframe, por exemplo: tipo da coluna e número de linhas
lgbt_casamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4536 entries, 0 to 4535
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ano     4536 non-null   int64
 1   uf      4536 non-null   object
 2   genero  4536 non-null   object
 3   mes     4536 non-null   object
 4   numero  4536 non-null   int64
dtypes: int64(2), object(3)
memory usage: 177.3+ KB

In [17]:
# estatísticas das colunas numéricas do dataframe
lgbt_casamento.describe()

              ano       numero
count  4536.00000  4536.000000
mean   2016.00000     9.693783
std       2.00022    25.962171
min    2013.00000     0.000000
25%    2014.00000     1.000000
50%    2016.00000     3.000000
75%    2018.00000     9.000000
max    2019.00000   827.000000

In [18]:
# cabeçalho da dataframe
lgbt_casamento.columns

Index(['ano', 'uf', 'genero', 'mes', 'numero'], dtype='object')

In [19]:
# valores únicos da coluna 'ano' do dataframe
lgbt_casamento['ano'].unique()

array([2014, 2013, 2015, 2016, 2017, 2018, 2019])

In [20]:
# valores únicos da coluna 'mes' do dataframe
lgbt_casamento['mes'].unique()

array(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype=object)

In [21]:
# valores únicos da coluna 'genero' do dataframe
lgbt_casamento['genero'].unique()

array(['Masculino', 'Feminino'], dtype=object)

In [22]:
# valores únicos da coluna 'uf' do dataframe
lgbt_casamento['uf'].unique()

array(['Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará', 'Amapá',
       'Tocantins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte',
       'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia',
       'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro', 'São Paulo',
       'Paraná', 'Santa Catarina', 'Rio Grande do Sul',
       'Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 'Distrito Federal'],
      dtype=object)

In [23]:
# tamanho dos valores únicos da coluna 'uf' do dataframe
len(lgbt_casamento['uf'].unique())

27

In [24]:
# tamanho dos valores únicos da coluna 'mes' do dataframe
len(lgbt_casamento['mes'].unique())

12

In [25]:
# tamanho dos valores únicos da coluna 'ano' do dataframe
len(lgbt_casamento['ano'].unique())

7

In [26]:
# seleciona apenas a coluna 'mes'
lgbt_casamento['mes']

0         Janeiro
1       Fevereiro
2           Março
3           Abril
4            Maio
          ...
4531       Agosto
4532     Setembro
4533      Outubro
4534     Novembro
4535     Dezembro
Name: mes, Length: 4536, dtype: object

In [27]:
# número de linhas na coluna 'numero'
len(lgbt_casamento['mes'])

4536

In [28]:
# pergunta se aquele campo da coluna 'mes' é NA (ou seja, sem preenchimento)
lgbt_casamento['mes'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4531    False
4532    False
4533    False
4534    False
4535    False
Name: mes, Length: 4536, dtype: bool

In [29]:
# pergunta se aquele campo da coluna 'numero' é NA (ou seja, sem preenchimento)
lgbt_casamento['numero'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4531    False
4532    False
4533    False
4534    False
4535    False
Name: numero, Length: 4536, dtype: bool

In [30]:
# número máximo da coluna 'numero'
# ou seja, maior número de casamentos em um mês em uma UF
lgbt_casamento['numero'].max()

827

In [31]:
# número mínimo da coluna 'numero'
# ou seja, menor número de casamentos em um mês em uma UF
lgbt_casamento['numero'].min()

0

In [32]:
# média da coluna 'numero'
lgbt_casamento['numero'].mean()

9.693783068783068

In [33]:
# mediana da coluna 'numero'
lgbt_casamento['numero'].median()

3.0

In [35]:
# desvio padrão da coluna 'numero'
lgbt_casamento['numero'].std()

25.962171041306817

In [34]:
# soma da coluna 'numero'
sum(lgbt_casamento['numero'])

43971

## 2. Análise exploratória de dados
Esta etapa do trabalho se propõe a analisar os dados com mais profundida para começar a responder a algumas perguntas formuladas inicialmente. Como o CSV já foi importado e as bibliotecas já foram chamadas anteriormente neste Notebook, isso não precisa ser repetido.

### Quantos casamentos homoafetivos ocorreram no Brasil de 2013 a 2019?

In [122]:
# mais de 40 mil casamentos homoafetivos nesse período
sum(lgbt_casamento['numero'])

43971

### Qual foi o ano com mais casamentos homoafetivos?

In [45]:
# 2018 foi o ano com mais casamentos, seguido por 2019
casamento_ano = lgbt_casamento.groupby('ano')['numero'].sum().sort_values(ascending=False).reset_index()
print(casamento_ano)

    ano  numero
0  2018    9520
1  2019    9056
2  2017    5887
3  2015    5614
4  2016    5354
5  2014    4840
6  2013    3700

In [81]:
# gráfico para mostrar os dados citados acima
# referência https://altair-viz.github.io/gallery/bar_chart_with_highlighted_bar.html
alt.Chart(casamento_ano).mark_bar().encode(
    x = alt.X('ano:O', title = 'Ano'),
    y = alt.Y('numero', title = 'Nº de casamentos'),
    color=alt.condition(
        alt.datum.ano == 2018,  # If the year is 1810 this test returns True,
        alt.value('orange'),     # which sets the bar orange.
        alt.value('steelblue')
    ),
    tooltip = ['ano', 'numero']
).properties(title = '2018 é o recorde de casamentos homoafetivos', width=600).interactive()

alt.Chart(...)

### Quem casa mais no meio LGBT? Homens ou mulheres?

In [70]:
# as mulheres se casam mais do que os homens
casamento_genero = lgbt_casamento.groupby('genero')['numero'].sum().sort_values(ascending=False).reset_index()
print(casamento_genero)

      genero  numero
0   Feminino   24591
1  Masculino   19380

In [75]:
# gráfico para mostrar os dados citados acima
# referência https://altair-viz.github.io/gallery/bar_chart_with_highlighted_bar.html
alt.Chart(casamento_genero).mark_bar().encode(
    x = alt.X('genero', title = 'Ano'),
    y = alt.Y('numero', title = 'Nº de casamentos'),
    color=alt.condition(
        alt.datum.genero == 'Feminino',
        alt.value('orange'),
        alt.value('steelblue')
    ),
    tooltip = ['genero', 'numero']
).properties(title = 'Casamentos homoafetivos: mulheres se casam mais do que homens', width=600).interactive()

alt.Chart(...)

### As mulheres também se casam mais considerando os dados anuais?

In [78]:
# considerando os dados anuais também
# as mulheres se casam mais do que os homens
# apenas em 2014 a diferença foi pequena
casamento_genero_ano = lgbt_casamento.groupby(['ano' , 'genero'])['numero'].sum().reset_index()
print(casamento_genero_ano)

     ano     genero  numero
0   2013   Feminino    1926
1   2013  Masculino    1774
2   2014   Feminino    2438
3   2014  Masculino    2402
4   2015   Feminino    2986
5   2015  Masculino    2628
6   2016   Feminino    2943
7   2016  Masculino    2411
8   2017   Feminino    3387
9   2017  Masculino    2500
10  2018   Feminino    5562
11  2018  Masculino    3958
12  2019   Feminino    5349
13  2019  Masculino    3707

In [98]:
# gráfico para mostrar os dados citados acima
# referência https://altair-viz.github.io/gallery/line_percent.html
alt.Chart(casamento_genero_ano).mark_line().encode(
    x = alt.X('ano:O', title = 'Ano'),
    y = alt.Y('numero', title = 'Nº de casamentos'),
    color='genero:N'
).properties(title = '2014 foi o ano com mais proximidade', width=600)

alt.Chart(...)

### Em qual mês as pessoas mais se casam?

In [101]:
# dezembro é o mês com mais casamentos
casamento_mes = lgbt_casamento.groupby(['mes'])['numero'].sum().sort_values(ascending=False).reset_index()
print(casamento_mes)

          mes  numero
0    Dezembro    6804
1    Novembro    4363
2     Outubro    3940
3    Setembro    3890
4     Janeiro    3386
5       Julho    3373
6       Junho    3122
7        Maio    3118
8      Agosto    3101
9       Março    3073
10  Fevereiro    3001
11      Abril    2800

In [116]:
# gráfico para mostrar os dados citados acima
# referência https://altair-viz.github.io/gallery/bar_chart_with_highlighted_bar.html
alt.Chart(casamento_mes).mark_bar(point=True).encode(
    x = alt.X('mes', title = 'Mês', sort=['Dezembro', 'Novembro', 'Outubro']),
    y = alt.Y('numero', title='Número'),
    tooltip = ['mes', 'numero'],
    color=alt.condition(
        alt.datum.mes == 'Dezembro',  
        alt.value('orange'),    
        alt.value('steelblue')
    ),
).properties(
    title = 'Dezembro é o mês com mais casamentos homoafetivos', width = 600).interactive()

alt.Chart(...)

### Há mais casamentos homoafetivos após a vitória de Jair Bolsonaro, em 28 de outubro de 2018?

In [123]:
# observe: dezembro de 2018 foi o mês com mais casamentos
# logo depois, janeiro de 2019, fevereiro de 2019, novembro de 2018...
# todos são meses próximos - e após a eleição de Jair Bolsonaro
casamento_mes_ano = lgbt_casamento.groupby(['mes', 'ano'])['numero'].sum().sort_values(ascending=False).reset_index()
print(casamento_mes_ano)

          mes   ano  numero
0    Dezembro  2018    3098
1     Janeiro  2019    1319
2   Fevereiro  2019    1033
3    Novembro  2018     957
4    Dezembro  2019     774
..        ...   ...     ...
79       Maio  2013     235
80      Abril  2013     221
81      Março  2013     160
82  Fevereiro  2013     110
83    Janeiro  2013      74

[84 rows x 3 columns]

In [120]:
# gráfico para mostrar os dados citados acima
# referência https://altair-viz.github.io/gallery/simple_heatmap.html
alt.Chart(casamento_mes_ano).mark_rect().encode(
    x = alt.X('mes', title = 'Mês', sort=['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']),
    y = alt.Y('ano:O', title = 'Ano'),
    color='numero:Q',
    tooltip = ['mes', 'ano', 'numero'],
).properties(title = 'Dezembro de 2018 foi o pior de casamentos homoafetivos', width=600)

alt.Chart(...)

### Em quais estados aconteceram mais casamentos LGBTs em números absolutos? E menos?

In [132]:
# mais de 18 mil casamentos foram em SP, seguido pelo RJ e por MG
# SP concentra 41,5% dos casamentos homoafetivos e é também o estado mais populoso do Brasil
# já Roraima, Acre e Amapá aparecem com poucos casamentos e também são pouco populosos
casamento_uf = lgbt_casamento.groupby('uf')['numero'].sum().sort_values(ascending=False).reset_index()
casamento_uf['n_perc'] = (casamento_uf['numero'] / sum(casamento_uf['numero'])) * 100
print(casamento_uf)

                     uf  numero     n_perc
0             São Paulo   18267  41.543290
1        Rio de Janeiro    4110   9.347070
2          Minas Gerais    3310   7.527689
3        Santa Catarina    2434   5.535467
4                Paraná    2041   4.641696
5     Rio Grande do Sul    1913   4.350595
6                 Ceará    1888   4.293739
7            Pernambuco    1519   3.454550
8                 Bahia    1268   2.883719
9      Distrito Federal    1202   2.733620
10                Goiás    1069   2.431148
11                 Pará     706   1.605604
12   Mato Grosso do Sul     686   1.560119
13       Espírito Santo     601   1.366810
14  Rio Grande do Norte     499   1.134839
15              Paraíba     473   1.075709
16             Amazonas     371   0.843738
17              Alagoas     332   0.755043
18             Maranhão     257   0.584476
19          Mato Grosso     237   0.538992
20                Piauí     185   0.420732
21             Rondônia     162   0.368425
22              Sergipe     158   0.359328
23            Tocantins      85   0.193309
24                Amapá      77   0.175115
25                 Acre      69   0.156922
26              Roraima      52   0.118260

In [ ]:
### OBS: FAZER MAPA NO JUPYTER NOTEBOOK
# referencia https://github.com/gabrielacaesar/lgbt_casamento/blob/main/notebooks/gabriela-caesar-analise-de-dados-2out2021-perguntas_2.ipynb

In [1]:
# referencia https://rodrigodutcosky.medium.com/mapas-coropl%C3%A9ticos-com-os-estados-do-brasil-em-python-b9b48c6db585
# baixe o arquivo abaixo no link https://www.ibge.gov.br/geociencias/cartas-e-mapas/bases-cartograficas-continuas/15759-brasil.html?=&t=downloads
# clique em 'bcim' > 'versao2016' > 'geopackage' > 'bcim_2016_21_11_2018.gpkg'
info_ufs = gpd.read_file('bcim_2016_21_11_2018.gpkg', layer = 'lim_unidade_federacao_a')
info_ufs.columns

NameError: name 'gpd' is not defined

### Em quais regiões do Brasil os casamentos LGBTs mais ocorrem?

In [136]:
# criação de dicionário transformado depois em dataframe com as UFs e as respectivas regiões

uf_norte = {'regiao': ['Norte']*7, 'uf': ["Rondônia","Acre","Amazonas","Roraima", "Pará","Amapá","Tocantins"]}
uf_nordeste = {'regiao': ['Nordeste']*9, 'uf': ["Maranhão","Piauí","Ceará","Rio Grande do Norte","Paraíba","Pernambuco", "Alagoas","Sergipe","Bahia"]}
uf_sudeste = {'regiao': ['Sudeste']*4, 'uf': ["Minas Gerais","Espírito Santo","Rio de Janeiro","São Paulo"]}
uf_sul = {'regiao': ['Sul']*3, 'uf': ["Paraná","Santa Catarina","Rio Grande do Sul"]}
uf_centro_oeste = {'regiao': ['Centro-Oeste']*4, 'uf': ["Mato Grosso do Sul","Mato Grosso","Goiás", "Distrito Federal"]}

regiao_norte = pd.DataFrame(uf_norte)
regiao_nordeste = pd.DataFrame(uf_nordeste)
regiao_sudeste = pd.DataFrame(uf_sudeste)
regiao_sul = pd.DataFrame(uf_sul)
regiao_centro_oeste = pd.DataFrame(uf_centro_oeste)

regioes_uf = pd.concat([regiao_norte, regiao_nordeste, regiao_sudeste, regiao_sul, regiao_centro_oeste])

In [164]:
lgbt_casamento_regioes = lgbt_casamento.merge(regioes_uf, on='uf')
lgbt_casamento_regioes_ano = lgbt_casamento_regioes.groupby(['regiao', 'ano'])['numero'].sum().sort_values(ascending=False).reset_index()
lgbt_casamento_regioes_ano.head()

    regiao   ano  numero
0  Sudeste  2018    5689
1  Sudeste  2019    5509
2  Sudeste  2017    3536
3  Sudeste  2016    3125
4  Sudeste  2015    3077

In [161]:
alt.Chart(lgbt_casamento_regioes).mark_bar().encode(
    x = alt.X('sum(numero)', title = 'Nº de casamentos'),
    y = alt.Y('ano', title = 'Ano'),
    tooltip = ['regiao', 'numero'],
    color = alt.Color('regiao', title = "Região")
).properties(title = 'Sudeste concentra maior número de casamentos homoafetivos', width=600)

alt.Chart(...)

In [166]:
lgbt_casamento_regioes_genero = lgbt_casamento_regioes.groupby(['regiao','genero'])['numero'].sum().reset_index()
lgbt_casamento_regioes_genero.head()

         regiao     genero  numero
0  Centro-Oeste   Feminino    1759
1  Centro-Oeste  Masculino    1435
2      Nordeste   Feminino    3794
3      Nordeste  Masculino    2785
4         Norte   Feminino     869

In [177]:
alt.Chart(lgbt_casamento_regioes_genero).mark_bar().encode(
    x = alt.X('genero', title = "Gênero"),
    y = alt.Y('numero', title = 'Nº de casamentos'),
    color = alt.Color('genero', title = 'Gênero'),
    column = alt.Column('regiao:N', title = 'Região'),
    tooltip = ['regiao', 'genero', 'numero']
).properties(title = 'Veja, por região, o número de casamentos de 2013 a 2019', width=100)

alt.Chart(...)

### Considerando a população adulta, quais estados têm as maiores e menores proporções de casamentos LGBTs? 

Este trecho da análise depende de alguns cruzamentos para chegarmos ao resultado

In [178]:
# arquivo com o nome da uf e a respectiva sigla
sigla_uf = pd.read_csv('https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/main/csv/estados.csv')

In [179]:
# o arquivo com a população adulta usa a sigla, e não o nome da uf
# por isso, vamos cruzar o dataframe principal com o dataframe acima 
# assim, o novo dataframe terá a sigla para criar com o CSV da população adulta
sigla_uf_lgbt_casamento = lgbt_casamento.merge(sigla_uf, how = 'left', left_on = 'uf', right_on = 'nome')
sigla_uf_lgbt_casamento = sigla_uf_lgbt_casamento.drop(['uf_x', 'codigo_uf', 'latitude', 'longitude'], axis=1)
sigla_uf_lgbt_casamento = sigla_uf_lgbt_casamento.rename(columns={'uf_y':'uf', 'nome': 'nome_uf'})
sigla_uf_lgbt_casamento.head(6)

    ano     genero        mes  numero  uf   nome_uf
0  2014  Masculino    Janeiro       0  RO  Rondônia
1  2014  Masculino  Fevereiro       0  RO  Rondônia
2  2014  Masculino      Março       0  RO  Rondônia
3  2014  Masculino      Abril       0  RO  Rondônia
4  2014  Masculino       Maio       0  RO  Rondônia
5  2014  Masculino      Junho       0  RO  Rondônia

In [181]:
ano_uf_lgbt_casamento = sigla_uf_lgbt_casamento.groupby(['genero', 'ano', 'uf'])['numero'].sum().sort_values(ascending=False)
ano_uf_lgbt_casamento.head(6)

genero     ano   uf
Feminino   2018  SP    2445
           2019  SP    2120
Masculino  2018  SP    1655
Feminino   2017  SP    1495
Masculino  2019  SP    1453
Feminino   2016  SP    1202
Name: numero, dtype: int64

In [182]:
# os dados são do IBGE e tratam das pessoas com 15 anos ou mais 
# aqui chamamos esse grupo de 'população adulta'
# para casar no Brasil, a pessoa precisa ter a partir de 16 anos
# mas o grupo etário dessa idade, para o IBGE, é de 15-19 anos
pop_adulta = pd.read_csv('https://raw.githubusercontent.com/gabrielacaesar/lgbt_casamento/main/data/pop_adulta.csv')

In [183]:
# padronizando gênero para ficar igual ao do csv lgbt_casamento
pop_adulta['genero'] = pop_adulta['genero'].replace(['Mulher'],'Feminino').replace(['Homem'],'Masculino')
pop_adulta.head(2)

      genero   ano  pop_adulta  uf
0  Masculino  2013      265626  AC
1  Masculino  2014      272692  AC

In [184]:
pop_lgbt_casamento = pd.merge(ano_uf_lgbt_casamento, pop_adulta, how = 'left', on = ['ano', 'genero', 'uf'])
pop_lgbt_casamento.head(5)

    ano     genero  uf  numero  pop_adulta
0  2018   Feminino  SP    2445    18915105
1  2019   Feminino  SP    2120    19109416
2  2018  Masculino  SP    1655    17569093
3  2017   Feminino  SP    1495    18716547
4  2019  Masculino  SP    1453    17760876

In [185]:
### criamos a taxa de casamento lgbt por 100 mil habitantes adultos
pop_lgbt_casamento['tx_pop'] = (pop_lgbt_casamento['numero'] / pop_lgbt_casamento['pop_adulta']) * 100000
pop_lgbt_casamento.sort_values(by = 'tx_pop', ascending=False)

      ano     genero  uf  numero  pop_adulta     tx_pop
0    2018   Feminino  SP    2445    18915105  12.926177
67   2018  Masculino  DF     138     1115186  12.374617
64   2019   Feminino  DF     148     1269796  11.655416
73   2019  Masculino  DF     132     1136890  11.610622
1    2019   Feminino  SP    2120    19109416  11.094007
..    ...        ...  ..     ...         ...        ...
373  2013  Masculino  AC       0      265626   0.000000
374  2013   Feminino  RR       0      166383   0.000000
375  2016  Masculino  AC       0      287146   0.000000
376  2015  Masculino  AC       0      279837   0.000000
377  2013   Feminino  AC       0      268540   0.000000

[378 rows x 6 columns]

### 2019: taxas mais altas e mais baixas, por UF

In [208]:
# DF e SP aparecem com destaque, com taxas acima de 10, em 2019
tx_2019 = pop_lgbt_casamento.query('ano == 2019').sort_values(by = 'tx_pop', ascending=False)
tx_2019.head(10)

      ano     genero  uf  numero  pop_adulta     tx_pop
64   2019   Feminino  DF     148     1269796  11.655416
73   2019  Masculino  DF     132     1136890  11.610622
1    2019   Feminino  SP    2120    19109416  11.094007
105  2019   Feminino  MS     101     1089092   9.273780
4    2019  Masculino  SP    1453    17760876   8.180903
14   2019   Feminino  RJ     568     7408969   7.666384
53   2019   Feminino  SC     195     2931464   6.651966
56   2019  Masculino  SC     180     2845696   6.325342
17   2019  Masculino  RJ     410     6579835   6.231159
38   2019   Feminino  PE     217     3922693   5.531914

In [207]:
# MA aparece com destaque, com taxas baixo de 1, em 2019
pop_lgbt_casamento.query('ano == 2019').sort_values(by = 'tx_pop', ascending=True).head(10)

      ano     genero  uf  numero  pop_adulta    tx_pop
261  2019  Masculino  MA      15     2531188  0.592607
234  2019   Feminino  MA      22     2686814  0.818814
267  2019  Masculino  PI      15     1208013  1.241708
307  2019  Masculino  TO       8      595765  1.342811
236  2019  Masculino  AM      22     1464687  1.502027
275  2019  Masculino  SE      14      843619  1.659517
335  2019  Masculino  AP       5      300208  1.665512
216  2019  Masculino  PB      29     1494526  1.940415
327  2019  Masculino  AC       6      308791  1.943062
148  2019  Masculino  PA      63     3163035  1.991758

In [209]:
# o gráfico abaixo se refere aos dois dataframes criados acima
# o eixo x tem a taxa de casamentos LGBTs por 100 mil adultos, por gênero, naquele ano
# o eixo y tem o número de casamentos LGBTs, por gênero, naquele ano
alt.Chart(tx_2019).mark_point().encode(
    x = alt.X('tx_pop:Q', title = 'Nº de casamentos'),
    y = alt.Y('numero:Q', title = 'Taxa por 100 mil adultos'),
    color = alt.Color('genero', title = 'Gênero'),
    tooltip = ['uf', 'genero', 'tx_pop', 'numero', 'pop_adulta']
).properties(title = '2019: Taxa de casamentos LGBTs', width=600)

alt.Chart(...)

### E em 2018? Quais UFs têm as taxas mais altas e mais baixas?

In [210]:
# novamente SP e DF aparecem com destaque
tx_2018 = pop_lgbt_casamento.query('ano == 2018').sort_values(by = 'tx_pop', ascending=False)
tx_2018.head(10)

     ano     genero  uf  numero  pop_adulta     tx_pop
0   2018   Feminino  SP    2445    18915105  12.926177
67  2018  Masculino  DF     138     1115186  12.374617
71  2018   Feminino  DF     136     1247134  10.905003
93  2018   Feminino  MS     110     1074182  10.240350
2   2018  Masculino  SP    1655    17569093   9.419951
36  2018  Masculino  SC     229     2807204   8.157583
47  2018   Feminino  SC     200     2891671   6.916416
29  2018   Feminino  PE     260     3881393   6.698626
25  2018   Feminino  PR     283     4658113   6.075422
40  2018   Feminino  CE     212     3692378   5.741557

In [189]:
# desta vez, AP, RR, MA e RO têm taxas abaixo de um
pop_lgbt_casamento.query('ano == 2018').sort_values(by = 'tx_pop', ascending=True).head(10)

      ano     genero  uf  numero  pop_adulta    tx_pop
366  2018  Masculino  AP       1      292039  0.342420
365  2018  Masculino  RR       1      212649  0.470259
287  2018  Masculino  MA      12     2500973  0.479813
273  2018   Feminino  MA      14     2649907  0.528320
322  2018  Masculino  RO       6      677846  0.885157
266  2018  Masculino  MT      15     1330673  1.127249
318  2018  Masculino  TO       7      586706  1.193102
251  2018  Masculino  AM      18     1436331  1.253193
253  2018  Masculino  PI      17     1201187  1.415267
294  2018   Feminino  TO      11      581958  1.890171

In [211]:
# o gráfico abaixo se refere aos dois dataframes criados acima
# o eixo x tem a taxa de casamentos LGBTs por 100 mil adultos, por gênero, naquele ano
# o eixo y tem o número de casamentos LGBTs, por gênero, naquele ano
alt.Chart(tx_2018).mark_point().encode(
    x = alt.X('tx_pop:Q', title = 'Nº de casamentos'),
    y = alt.Y('numero:Q', title = 'Taxa por 100 mil adultos'),
    color = alt.Color('genero', title = 'Gênero'),
    tooltip = ['uf', 'genero', 'tx_pop', 'numero', 'pop_adulta']
).properties(title = '2019: Taxa de casamentos LGBTs', width=600)

alt.Chart(...)

### Em um mapa do Brasil, como ficam as taxas de casamentos LGBTS por 100 mil habitantes adultos?

In [214]:
tx_pop_lgbt_casamento = pop_lgbt_casamento.groupby(['ano', 'uf']).agg({'numero': sum,'tx_pop': sum}).reset_index()
tx_pop_lgbt_casamento.head()

    ano  uf  numero    tx_pop
0  2013  AC       0  0.000000
1  2013  AL      17  1.404225
2  2013  AM       7  0.547217
3  2013  AP       6  2.380704
4  2013  BA      99  1.809937

In [215]:
print(" --------------------------- \n         Bem-vindo/a! \n ---------------------------")
ano_user = int(input("Escolha um ano de 2013 a 2019: \n"))
#print(uf_user)
print(" --------------------------- \n      Já vamos calcular! \n ---------------------------")

 ---------------------------
         Bem-vindo/a!
 ---------------------------
Escolha um ano de 2013 a 2019:
2017
 ---------------------------
      Já vamos calcular!
 ---------------------------

In [217]:
ano_user_tx_pop_lgbt_casamento = tx_pop_lgbt_casamento.query('ano == @ano_user', engine='python')
ano_user_tx_pop_lgbt_casamento.head()

      ano  uf  numero    tx_pop
108  2017  AC      19  6.373845
109  2017  AL      44  3.454173
110  2017  AM      35  2.481192
111  2017  AP      10  3.492442
112  2017  BA     140  2.432439

In [ ]:
# referencia https://rodrigodutcosky.medium.com/mapas-coropl%C3%A9ticos-com-os-estados-do-brasil-em-python-b9b48c6db585
# baixe o arquivo abaixo no link https://www.ibge.gov.br/geociencias/cartas-e-mapas/bases-cartograficas-continuas/15759-brasil.html?=&t=downloads
# clique em 'bcim' > 'versao2016' > 'geopackage' > 'bcim_2016_21_11_2018.gpkg'
info_ufs = gpd.read_file('bcim_2016_21_11_2018.gpkg', layer = 'lim_unidade_federacao_a')
info_ufs.columns

In [ ]:
info_ufs.rename({'sigla':'uf'}, axis = 1, inplace = True)
mapa_br = info_ufs.merge(ano_user_tx_pop_lgbt_casamento, on = 'uf', how = 'left')
#mapa_br[['uf', 'ano', 'numero', 'tx_pop', 'geometry']].head()

In [ ]:
%matplotlib inline

mapa_br.plot(column = 'tx_pop',
             cmap = 'Blues',
             figsize = (10, 6),
             legend = True,
             edgecolor = 'black')

### Considerando a UF e o ano informados pelo usuário, quais são as estatísticas básicas dessa UF e desse ano quanto ao casamento LGBT?

In [ ]:
sigla_uf_lgbt_casamento = lgbt_casamento.merge(sigla_uf, how = 'left', left_on = 'uf', right_on = 'nome')

In [218]:
print(" --------------------------- \n         Bem-vindo/a! \n ---------------------------")
ano_user = int(input("Escolha um ano de 2013 a 2019: \n"))
uf_user = input("Escolha uma UF. Por exemplo, AC, AL, SP, RJ... \n")
uf_user = uf_user.upper().strip()
#print(uf_user)
print(" --------------------------- \n      Já vamos calcular! \n ---------------------------")

 ---------------------------
         Bem-vindo/a!
 ---------------------------
Escolha um ano de 2013 a 2019:
2019
Escolha uma UF. Por exemplo, AC, AL, SP, RJ...
rj
 ---------------------------
      Já vamos calcular!
 ---------------------------

In [220]:
# filtro pela UF e pelo ano informados pelo usuário
# mais gráfico
import altair as alt
alt.Chart(sigla_uf_lgbt_casamento.query('uf == @uf_user & ano == @ano_user', engine='python')).mark_line(point=True).encode(
    x = alt.X('mes', title = 'Mês', sort=['Janeiro', 'Fevereiro', 'Março']),
    y = alt.Y('numero', title='Número'),
    color = 'genero',
    tooltip = ['mes', 'ano', 'genero', 'numero']
).properties(
    title = f'{uf_user}: Casamento LGBTs em {ano_user}'
).interactive()

alt.Chart(...)

In [221]:
dados_user = sigla_uf_lgbt_casamento.query('uf == @uf_user', engine='python')

alt.Chart(dados_user).mark_boxplot(size=10).encode(
    x = alt.X('ano:O', title="Ano"),
    y = alt.Y('numero', title="Número"),
    color = 'genero',
    tooltip = ['mes', 'ano', 'genero', 'numero']
).properties(
    title={
      "text": [f'{uf_user}: Casamento LGBTs'], 
      "subtitle": [f'Mulheres vs. Homens']
    },
    width=600,
    height=300
).interactive()

alt.Chart(...)

## Muito obrigado/a!